# Dependencies
node_modules/
go.sum

# Environment variables
.env

# Build outputs
dist/
build/
*.exe
*.test
*.out

# Database
*.db
*.sqlite

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
